@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Odzyskiwanie hasła";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sprawdź, proszę, swoją skrzynkę e-mail i postępuj zgodnie z instrukcją.
</p>

