@page
@model KeyForge.ChangelogModel
@{
    ViewData["Title"] = "Changelog";
} 

<!DOCTYPE html>

<html>
<head> 
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <h4>v1.1.1 - 07.03.2020</h4>
    <p>
        Dodano changelog<br />
        Dodano podpowiedzi do przycisków z ikonami<br />
        Przyspieszono ładowanie ikon<br />
        Dodano sortowanie pozycji w tabelach wyników turniejów
    </p>
    <h4>v1.1.0 - 05.03.2020</h4>
    <p>
        Dodano statystyki graczy w turnieju (liczba wygranych/przegranych meczy, wykres mELO względem czasu)
    </p>
    <h4>v1.0.0 - 28.01.2020</h4>
    <p>
        Start serwisu
    </p>
</body>
</html>
