@page
@model KeyForge.ChangelogModel
@{
    ViewData["Title"] = "Changelog";
} 

<!DOCTYPE html>

<html>
<head> 
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <h4>v1.4.0 - 09.08.2020</h4>
    <p>
        System plików/załączników<br />
        Poprawki wyglądu stron<br />
        Zmiana strefy czasowej
    </p>
    <h4>v1.3.0 - 26.07.2020</h4>
    <p>
        Automat dodawania wyników z systemu GEM<br />
        Dynamiczna wyszukiwarka graczy (przy dodawaniu wyników)<br />
        Poprawka osi czasu wykresów
    </p>
    <h4>v1.2.2 - 15.07.2020</h4>
    <p>
        Poprawki interfejsu
    </p>
    <h4>v1.2.1 - 14.07.2020</h4>
    <p>
        Nowa szata graficzna
    </p>
    <h4>v1.2.0 - 13.07.2020</h4>
    <p>
        Zmiana hostingu<br />
        Serwis dostępny pod nowym adresem (https://www.vaultmanager.pl/)<br />
        Naprawione obsługę wiadomości e-mail
    </p>
    <h4>v1.1.1 - 07.03.2020</h4>
    <p>
        Dodano changelog<br />
        Dodano podpowiedzi do przycisków z ikonami<br />
        Przyspieszono ładowanie ikon<br />
        Dodano sortowanie pozycji w tabelach wyników turniejów
    </p>
    <h4>v1.1.0 - 05.03.2020</h4>
    <p>
        Dodano statystyki graczy w turnieju (liczba wygranych/przegranych meczy, wykres mELO względem czasu)
    </p>
    <h4>v1.0.0 - 28.01.2020</h4>
    <p>
        Start serwisu
    </p>
</body>
</html>
