@page "{tournamentId:int}"
@model KeyForge.MultiResultModel
@{
    ViewData["Title"] = "Nowe wyniki";
}

<!DOCTYPE html>
 
<html>
<head>
    <script type="text/javascript">(function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>
    @*<script src="https://kit.fontawesome.com/a076d05399.js"></script>*@
</head>
<body>
    <h2>Zgłoś wiele wyników jednocześnie</h2>
    <h3>Zwróć uwagę na kolejność zgłoszeń, jest ona bardzo ważna!</h3>
    <h3>Kolejność: pierwsze - najdawniejsze.</h3>
    <table class="table">
        <tr>
            <td>
                <a asp-page=".\ResultHub" class="btn btn-primary"> Powrót </a>
            </td>
        </tr>
    </table>

    <h3 style="background-color:red;">@Model.ErrorMsg</h3>

    <form method="post">
        <div class="form-group">
            <input id="tournamentId" type="hidden" asp-for="Tournament.Id" />
            <input id="tournamentFactor" type="hidden" asp-for="Tournament.ELOFactor" />
            <table class="table">
                <tr>
                    <td>
                        <label>Wybrany turniej</label>
                        <input asp-for="Tournament.Name" class="form-control" readonly />
                        <span class="text-danger" asp-validation-for="Tournament.Name"></span> 
                    </td>
                </tr>
            </table>
        </div>

        @section Scripts
        {
            <script src="//code.jquery.com/jquery.min.js"></script>
            <link rel="stylesheet" href="~/lib/jquery-custom-search/jquery.dropdown.css">
            <script src="~/lib/jquery-custom-search/jquery.dropdown.js"></script>
            <script>
                $(document).ready(function () {
                    $('.winner').dropdown({
                        minCount: 0,
                        searchable: true
                    });
                    $('.loser').dropdown({
                        minCount: 0,
                        searchable: true
                    });
                });
            </script>
        }

        <table id="targetTable" class="table" style="table-layout:fixed;">
            <thead>
                <tr>
                    <th>
                        <h3>Zwycięzcy</h3>
                    </th>
                    <th>
                        <h3>Pokonani</h3>
                    </th>
                <tr>
            </thead>
            <tbody id="targetBody">
                <tr id="targetRow">
                    <td>
                        <div class="winner">
                            <select style="display:none" id="selectWin" class="form-control" name="WinnerIDs"
                                    asp-items="Model.AvailablePlayers">
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="loser">
                            <select style="display:none" id="selectLose" class="form-control" name="LoserIDs"
                                    asp-items="Model.AvailablePlayers">
                                <option value=""></option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="table">
            <tr>
                <td>
                    <a id="btn" class="btn" onclick="addRow()">
                        <i class="fas fa-plus-circle"> Dodaj wiersz </i>
                    </a>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Zatwierdź</button>
                </td>
            </tr>
        </table>
    </form>
     
    <script>
        var count_id = 0;
        function addRow() {
            count_id++;
            var row = document.getElementById("targetRow");
            var table = document.getElementById("targetBody");

            var clone = row.cloneNode(true);
            clone.id = "targetRow" + count_id;

            //Change classname for easier initialization
            clone.childNodes[1].childNodes[1].className = "winner" + count_id;
            clone.childNodes[3].childNodes[1].className = "loser" + count_id;

            //Create row and initialize jQuery
            table.appendChild(clone);
            jQuery(document).ready(function () {
                $('.winner' + (count_id)).dropdown({
                    minCount: 0,
                    searchable: true
                });
                $('.loser' + (count_id)).dropdown({
                    minCount: 0,
                    searchable: true
                });
            });

            //Workaround - remove duplicated row (for jquery)
            document.getElementsByClassName("winner" + count_id)[0].childNodes[3].remove();
            document.getElementsByClassName("loser" + count_id)[0].childNodes[3].remove();
        }
    </script>

</body>
</html>
